html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  margin: 0;
  margin-bottom: 50px;
  background: #0F0704;
  background: -moz-radial-gradient(center, #0F0704 0%, #0D334D 62%, #171106 100%);
  background: -webkit-radial-gradient(center, #0F0704 0%, #0D334D 62%, #171106 100%);
  background: radial-gradient(ellipse at center, #0F0704 0%, #0D334D 62%, #171106 100%);
  font-family: Arial, Helvetica, sans-serif;
}


.loading-screen {
  position: absolute;
  z-index: 999;
  background-color: rgba(0, 0, 0);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.loading-img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  margin-bottom: 25px;
  animation-name: beispiel;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
}

@keyframes beispiel {
  0% {
      transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
  }
  50% {
      transform: rotate(-5deg);
      -webkit-transform: rotate(-5deg);
      -moz-transform: rotate(-5deg);
      -ms-transform: rotate(-5deg);
      -o-transform: rotate(-5deg);
  }
  100% {
      transform: rotate(5deg);
      -webkit-transform: rotate(5deg);
      -moz-transform: rotate(5deg);
      -ms-transform: rotate(5deg);
      -o-transform: rotate(5deg);
  }
}

.loading-text {
  color: white;
  font-size: 24px;
}


nav {
  position: fixed;
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: whitesmoke;
  background-color: black;
  font-size: 24px;
  z-index: 3;
}

nav input {
  background-color: #4D5D53;
  border: 2px solid #21ABCD;
  color: whitesmoke;
  padding: 16px;
  font-size: 20px;
  margin-left: 18px;
  margin-right: 18px;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}

.nav-right {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-right button {
  background-color: #4D5D53;
  border: 2px solid #21ABCD;
  color: whitesmoke;
  height: 50px;
  font-size: 20px;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  cursor: pointer;
}


.nav-right button:hover {
  transition: all 225ms ease-in-out;
  opacity: 0.65;
  -webkit-transition: all 225ms ease-in-out;
  -moz-transition: all 225ms ease-in-out;
  -ms-transition: all 225ms ease-in-out;
  -o-transition: all 225ms ease-in-out;
}

#pokedex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 100px;
}

#pokedex h1 {
  color: black;
  font-weight: 900;
  text-transform: capitalize;
  margin-bottom: 8px;
}

.container-main {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 225px;
  width: 275px;
  color: white;
  padding: 24px;
  margin-top: 36px;
  margin-left: 24px;
  margin-right: 24px;
  border: 3px solid rgba(0, 0, 0, 0.824);
  border-radius: 25px 40px 25px 40px;
  -webkit-box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 0px 0px 38px -1px rgba(209, 209, 209, 0.35);
  box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 0px 0px 38px -1px rgba(209, 209, 209, 0.35);
  cursor: pointer;
}

.container-main:hover {
  transition: all 225ms ease-in-out;
  opacity: 0.65;
  border: 3px solid black;
  -webkit-transition: all 225ms ease-in-out;
  -moz-transition: all 225ms ease-in-out;
  -ms-transition: all 225ms ease-in-out;
  -o-transition: all 225ms ease-in-out;
}

.main-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}


#pokomon-Image {
  width: 200px;
  height: 125px;
  object-fit: contain;
  transition: all 500ms ease-in-out;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
}

.d-none {
  display: none;
}

.container-spez-info {
  position: fixed;
  z-index: 800;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container-spez-info-width {
  width: 450px;
  z-index: 999;
  border: 3px solid black;
  -webkit-box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 0px 0px 38px -1px rgba(209, 209, 209, 0.35);
  box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 0px 0px 38px -1px rgba(209, 209, 209, 0.35);
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
}

  
.spez-over-info-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.spez-over-info {
  margin-left: 12px;
  margin-right: 12px;
  margin-bottom: 16px;
  margin-top: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(165, 42, 42, 0.146);
  width: 80px;
  height: 80px;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}

.dialog-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  text-transform: capitalize;
  font-weight: bolder;
  padding: 10px 50px;
  padding-bottom: 50px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  height: 220px;
}

.containerSkills {
  background-color: #fff;
  color: black;
  border-radius: 30px;
  margin-left: 16px;
  margin-right: 16px;
  align-items: center;
  display: flex;
  justify-content: center;
}

/* .skills {
  padding-top: 10px;
  font-size: 20px;
} */

.grass {
  background-color: #68ae28;
  border-radius: 30px;
}

.fire {
  background-color: #e73820;
  border-radius: 30px;
}

.bug {
  background-color: #1a4b26;
  border-radius: 30px;
}

.water {
  background-color: #1551e2;
  border-radius: 30px;
}

.normal {
  background-color: #75505c;
  border-radius: 30px;
}

.poison {
  background-color: #b347b3;
  border-radius: 30px;
}

.electric {
  background-color: #f8d02f;
  border-radius: 30px;
}

.ground {
  background-color: #e0bf68;
  border-radius: 30px;
}

.flying {
  background-color: #49667e;
  border-radius: 30px;
}

.dark {
  background-color: #020506;
  border-radius: 30px;
}

.dragon {
  background-color: #438a97;
  border-radius: 30px;
}

.fairy {
  background-color: #961842;
  border-radius: 30px;
}

.fighting {
  background-color: #993f25;
  border-radius: 30px;
}

.ghost {
  background-color: #32336b;
  border-radius: 30px;
}

.ground {
  background-color: #a96f2b;
  border-radius: 30px;
}

.ice {
  background-color: #85d1f5;
  border-radius: 30px;
}

.psychic {
  background-color: #a62a6a;
  border-radius: 30px;
}

.rock {
  background-color: #46180b;
  border-radius: 30px;
}

.steel {
  background-color: #5e746c;
  border-radius: 30px;
}

@media (max-width: 1000px) {
  .header {
    flex-direction: column;
  }

  .detailCard {
    height: 475px;
    width: 300px;
  }
  .detailImg img {
    height: 110px;
    width: 110px;
    padding: 10px;
  }
  .containerSkills {
    max-width: 250px;
    max-height: 200px;
    font-size: 10px;
    margin-left: 16px;
    margin-right: 16px;
  }
  .skills {
    /* padding-top: 10px; */
    font-size: 20px;
  }
}
